
  <h3>Objet : <%= Email.find(params[:id]).object %></h3>
  <p><%= Email.find(params[:id]).body %></p>

  <%=link_to"Supprimer", root_path, method: :post, remote: true, class:"btn btn-primary"%>
  <%=link_to"Marquer comme non-lu", root_path, method: :post, remote: true, class:"btn btn-secondary"%>

 