
 <%=link_to"New", emails_path, method: :post, remote: true, class:"btn btn-primary"%>

<div class="container">

  <div class="row">

    <div class="col-sm" id="object">
      <% @emails.each do |email| %>
      <ul class="list-group" id="cardel2-<%= email.id%>">
      <li class="list-group-item"><strong><%= link_to email.object, email_path(email.id), remote: true%></strong></li>
      </ul>

    <% end %>

    </div>
    <div class="col-sm" id="body"> 

   </div>
  </div>
</div>
</div>

